<div class="field">
    <%= @user.email %>
  </div>

  <div class="field">
    <%= @user.First_name %>
  </div>

  <div class="field">
    <%= @user.Last_name %>
  </div>

  <div class="field">
    <%= @user.Year_of_birth %>
  </div>