<div class="field">
  POST TITLE:
    <%= @post.title %>
  </div>

  <div class="field">
  POST DESCRIPTION:
    <%= @post.description %>
  </div>

  <div class="field">
  USER ID:
  <%= @post.user_id %> 
  </div>
